/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 5, 2022, 4:12:40 AM
    Author     : To Quyen Phan
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
/*Welcome Page*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}
.body-welcome-page{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image:  url("../image/HCM-scaled.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}
.header-welcome-page div img{
    height: 100%;
    width: 100%;
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
.header-welcome-page div input{
    width: 15%;
    float: right;
    text-align: center;
    color: black;
    background-color: orange;
    border: none;
    font-size: 2rem;
    font-weight: bold; 
    margin-top: 3rem;
    margin-right: 10rem;
    padding: 1rem 2rem;
    border-radius: 5rem;
    animation-name: login;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.header-welcome-page div input:hover{
    background-color: white;
    cursor: pointer;
}
.content-welcome-page{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    padding: 3rem 4rem;
    border-radius: 5rem;
    animation-name: welcome;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.content-welcome-page h1{
    font-weight: bolder;
}
.popup-form-welcome-page{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    height: 60%;
    width: 30%;
    transform: translate(-50%, -50%);
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    animation: drop 0.5s ease forwards;
}
.popup-form-welcome-page div{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
}
.popup-form-welcome-page .login-google-welcome-page{
    transition: box-shadow .3s;
    padding: 0 0.1rem;
    border-radius:10px;
    border: 0.01rem solid #ccc;
    margin: 2rem 0;
}
.popup-form-welcome-page .login-google-welcome-page:hover{
    box-shadow: 0 0 11px rgba(33,33,33,0.2); 
}
.popup-form-welcome-page div a{
    width: 100%;
}
.popup-form-welcome-page div a:hover{
    color: black;
}
.popup-form-welcome-page div img{
    position: absolute;
    width: 3rem;
    height: 3rem;
    display: flex;
    top: 0.15rem;
}
.popup-form-welcome-page .input-welcome-page{
    border: 0.1rem solid #d9d9d9;
}
.popup-form-welcome-page div i{
    position: absolute;
    display: flex;
    align-items: center;
    height: 5rem;
    width: 1rem;
    margin-left: 1rem;
}
.popup-form-welcome-page div input{
    border: none;
    width: 100%;
    padding: 1rem 2.5rem;
    outline: none;
}
.popup-form-welcome-page a{
    display: block;
    text-align: center;
    padding: 1rem 2rem;
    color: black;
}
.popup-form-welcome-page a:hover{
    text-decoration: none;
    cursor: pointer;
}
.popup-form-welcome-page h3{
    font-weight: 500;
}
.popup-form-welcome-page i:not(i:first-child){
    position: absolute;
    font-size: 1rem;
    color: red;
    top: 0;
    right: 0;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    background-color: rgb(214, 214, 214);
    padding: 0.4rem 0.5rem;
    border-radius: 50%;
}
.popup-form-welcome-page i:not(i:first-child){
    color: rgb(235, 106, 106);
    cursor: pointer;
}
.popup-form-welcome-page .submit-welcome-page{
    transition: box-shadow .3s;
    background-color: #377dff;
    width: 100%;
    border: none;
    padding: 1rem 0;
    color: white;
    font-size: large;
    border-radius: 0.2rem;
}
.popup-form-welcome-page .submit-welcome-page:hover{
    box-shadow: 0 0 11px rgba(33,33,33,0.2);  
}
@keyframes welcome {
    0%   {left: 50%; top: 100%;}
    100% {left: 50%; top: 50%;}
}
@keyframes login {
    0% {margin-right: 0; margin-top: 3rem;}
    100% {margin-right: 10rem; top: 3rem}
}
@keyframes logo {
    0% {visibility: hidden; opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}
@keyframes drop{
    0%{opacity: 0;}
    70%{left: 50%; top: 55%;}
    100%{left: 50%; top: 50%; opacity: 1;}
}



/*Error Page*/
body{
    background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
    height: 100vh;
    background-size: 400%;
}
.error-page{
    position: absolute;
    top: 10%;
    left: 17%;
    right: 17%;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0rem 1rem 10rem rgba(0,0,0,0.1);
    animation-name: error;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
.content-error-page{
    margin-top: 8rem;
    height: 100%;
    text-align: center;
}
.content-error-page h1{
    font-size: 10vw;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.content-error-page h1::after{
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 0;
    right: 0;
    background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(255,255,255,0.25);
    animation: color 10s ease-in-out infinite;
}
.content-error-page h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}
.content-error-page a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: 0.2rem solid #69a6ce;
    color: #69a6ce;
    padding: 1rem 2.5rem;
    border-radius:  2.5rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.content-error-page a:hover{
    color: #fff;
    background: #69a6ce;
    text-decoration: none;
}
@keyframes color{
    0%{
        background-position: 0 0;
    }
    25%{
        background-position: 100% 0;
    }
    50%{
        background-position: 100% 100%;
    }
    75%{
        background-position: 0 100%;
    }
    100%{
        background-position: 0 0;
    }
}
@keyframes error{
    0% {top: 10%; bottom: 10%; left: 0; right: 34%; opacity: 0;}
    100% {top: 10%; bottom: 10%; left: 17%; right: 17%; opacity: 1;}
}

/* Feedback Page*/
.body-feedback-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e056fd;
    background-image: #104f55; 
}
.container-feedback-page{
    width: 40rem;
    background-color: #104f55;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    overflow-y: hidden;
    position: relative;
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
.wrapper-feedback-page{
    margin: 2rem 0;
    color: white;
    text-align: center;
}
.text-feedback-page{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #fdfdfd;
    text-align: center;
}
.emoji{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
.emoji > div:not(div:first-child){
    margin-left: 1rem;
}
.emoji > div{
    cursor: pointer;
    transition: transform 0.2s ease-in;
}
.emoji > div:hover{
    transform: scale(1.4);
}
.form-feedback-page{
    height: 0;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.form-feedback-page--active{
    padding: 1rem;
    opacity: 1;
    height: 25rem;
}
.label-for-feedback-type{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: 500;
    color: white;
    margin-left: 1rem;
}  
.select-group {
    position: relative;
    margin-bottom: 1rem;
}
.button {
    display: flex;
    padding: 1rem;
    margin-left: 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3rem;
    height: 3rem;
    width: 50%;
    background-color: white;
    border: 1px solid #d3d9f0;
    position: relative;
}
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(45deg);
}
.dropdown {
    position: absolute;
    margin-left: 1rem;
    width: 50%;
    border: 1px solid #d3d9f0;
    border-radius: 0.3rem;
    overflow: hidden;
}
.option {
    display: none;
}
.select-item {
    display: block;
    padding: 0.5rem;
    font-weight: 400;
    background-color: #FFFFFF;
    color: black;
    margin: 0;
}
.select-item:hover {
    background-color: #f2f2f2;
}
.hidden {
    display: none;
}
.form-feedback-page h3{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
    width: 95%;
}
.dropdown input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.3rem;
    height: 3rem;
    padding: 0.5rem;
}

.dropdown input:focus, button:focus {
    border: 2px solid #2659ff;
}
.textarea-feedback-page{
    width: 95%;
    display: block;
    margin-left: 1rem;
    background-color: rgb(59,9, 59);
    color: white;
    border: none;
    resize: none;
    outline: none;
    margin-bottom: 1rem;
}
.form-feedback-page a{
    background-color: red;
    width: 19%;
    box-sizing: border-box;
    border-radius: 0.3rem;
    height: 3rem;
    padding: 1rem 1rem;
    margin-left: 1rem;
    color: black;
}
.form-feedback-page a:hover{
    color: black;
    text-decoration: none;
    background-color: rgb(255, 102, 102);
}
.form-feedback-page a:focus{
    border: 2px solid #2659ff;
}
.form-feedback-page input[type=submit]{
    width: 15%;
    background-color: #0d99ff;
    border: none;
    box-sizing: border-box;
    border-radius: 0.3rem;
    height: 3rem;
    padding: 0.5rem;
}
.form-feedback-page input[type=submit]:hover{
    background-color: #46b2ff;
}
.h4-feedback-page{
    color: white;
    position: absolute;
    right: 5%;
    top: 50%;
}
.h4-feedback-page--active{
    display: none;
}


/* Feedback Page*/
.container-profile-page{
    background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
    height: 100vh;
    background-size: 400%;
    overflow: hidden;
    padding: 2rem 7rem;
}
.wrapper-profile-page{
    padding: 2rem 2rem;
    margin-right: 1%;
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0rem 1rem 10rem rgba(0,0,0,0.1);
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
.wrapper-profile-page img{
    width: 80%;
    height: 50vh;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5rem;
}
.wrapper-profile-page h1{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3rem;
}
.content-profile-page{
    background-color: white;
    width: 65%;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 1rem 10rem rgba(0,0,0,0.1);
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
.content-profile-page h2{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3rem;
}



/*Profile Page*/
.container-profile-page{
    background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
    height: 100vh;
    background-size: 400%;
    overflow: hidden;
    padding: 2rem 7rem;
}
.wrapper-profile-page{
    padding: 2rem 2rem;
    margin-right: 1%;
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0rem 1rem 10rem rgba(0,0,0,0.1);
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
.wrapper-profile-page img{
    width: 80%;
    height: 50vh;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5rem;
}
.wrapper-profile-page h1{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3rem;
}
.wrapper-profile-page a{
    position: absolute;
    color: black;
    top: 2%;
    left: 2%;
}
.wrapper-profile-page a:hover{
    color: black;
}
.wrapper-profile-page a i{
    font-size: 2rem;
}
.content-profile-page{
    position: relative;
    background-color: white;
    width: 65%;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 1rem 10rem rgba(0,0,0,0.1);
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
.content-profile-page h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 3rem;
}
.content-profile-page a i{
    font-size: 2rem;
}
.content-profile-page a{
    color: black;
    position: absolute;
    top: 2%;
    right: 1%;
}
.content-profile-page a:hover{
    color: black;
}


/*Home Page*/
.container-fluid{
    background-color: white;
}
p, span { color: #999; }
hr { 
    border-top-color: #CCC; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control::-webkit-input-placeholder { color: #999; }  
.form-control:-ms-input-placeholder { color: #999; }  
.form-control::placeholder { color: #999; }

.tm-header {
    background-color: #0CC;
    color: white;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 400px;
    overflow-y: visible;     
}

.tm-header-wrapper {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 30px;
    width: 100%;
    height: 100%; 
}

.tm-header-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.tm-site-header {
    margin-top: 50px;
    margin-bottom: 115px;
}
.tm-site-header a{
    color: black;
}
.tm-site-header a:hover{
    color: black;
    text-decoration: none;
    cursor: default;
}

.tm-site-logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: white;
    object-fit: cover;
}

.tm-site-logo i { color: #0CC; }
.logo{
    top: 0;
    left: 0;
    object-fit: cover;
    text-align: center; 
}
.logo img{
    width: 100px;
    height: 10rem;
}
.tm-main {
    margin-left: 400px;
    padding: 80px 100px 25px;
}

.tm-post { max-width: 470px; }

.tm-row {
    max-width: 980px;
    justify-content: space-between;
}

.tm-nav { margin-bottom: 100px; }

.tm-nav-item {
    list-style: none;
    margin-bottom: 30px;
}

.tm-nav-link {
    color: white;
    background-color: transparent;
    height: 75px;
    width: 100%;
    max-width: 300px;   
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 30px;
}

.tm-nav-item:hover .tm-nav-link,
.tm-nav-item.active .tm-nav-link
{
    color: #0CC;
    background-color: white;
    text-decoration: none;
}

.tm-nav ul { position: relative; }

.tm-nav-item:hover:after,
.tm-nav-item.active:after {
    content: '';
    width: 100%;
    max-width: 300px;    
    height: 75px;
    display: block;
    border: 1px solid white;
    margin-left: 10px;
    margin-top: -65px;
    position: absolute;
    z-index: -1000;
}

.tm-nav-link i { margin-right: 37px; }

ul { 
    margin: 0; 
    padding: 0;
}

.tm-nav { margin-left: -30px; }

.tm-social-link {
    display: inline-block;
    background-color: white;    
    font-size: 1.4rem;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 8px; 
    margin-right: 15px;   
    margin-bottom: 15px;
}

.tm-social-icon { 
    color: #0CC;    
    transition: all 0.3s ease;
}

.tm-social-link:hover .tm-social-icon.fa-facebook { color: #3b5998; }
.tm-social-link:hover .tm-social-icon.fa-twitter { color: #00acee; }
.tm-social-link:hover .tm-social-icon.fa-instagram { color: #3f729b; }
.tm-social-link:hover .tm-social-icon.fa-linkedin { color: #0e76a8; }
.navbar-toggler { display: none; }

.tm-search-form {
    display: flex;
    align-items: center;
}

.form-inline .form-control.tm-search-input {
    display: block;
    height: 60px;
    width: 480px;
    margin-right: 30px;
    border-radius: 0;
    border-color: #0CC;
    font-size: 1.2rem;
}

.tm-search-button {
    width: 60px;
    height: 60px;
    border: none;
    background-color: #0CC;
    transition: all 0.3s ease;
}

.tm-search-button:hover { background-color: #09b6b6; }

.tm-search-icon {
    color: white;
    font-size: 1.3rem;
}

.tm-post-link {
    display: block;
    position: relative;
    cursor: pointer;
}

.tm-post-link-inner {
    overflow: hidden;
    background: #3085a3;
}

.tm-post-link img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.effect-lily img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0);
}

.effect-lily:hover img { opacity: 1; }

.effect-lily:hover img {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.tm-post { margin-bottom: 75px; }

.tm-new-badge {
    top: 25px;
    right: -10px;
    background-color: #0CC;
    color: white;
    padding: 5px 20px;
}

.tm-post-title {
    font-size: 1.7rem;
    transition: all 0.3s ease;
}

.tm-h3 {
    font-size: 1.3rem;
    color: #999;
}

.tm-post-link:hover .tm-post-title { color: #0CC; }

.tm-btn {
    display: inline-block;
    border-radius: 5px;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}

.tm-btn-primary {    
    background-color: #0CC;
    color: white;  
    padding: 8px 43px;
    border: none;
}

.tm-btn-small { padding: 8px 33px; }

.tm-btn-primary:hover {
    background-color: #09b6b6;
    color: white;
}

.tm-paging-nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.content-profile-page

.tm-paging-nav ul li:last-child { margin-right: 0; }

.tm-paging-link {
    background-color: #F0F0F0;
    color: #999;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.tm-paging-item .tm-paging-link:hover,
.tm-paging-item.active .tm-paging-link {
    background-color: #0CC;
    color: white;
}

.tm-btn.disabled {
    background-color: #F0F0F0;
    color: #999;
    cursor: not-allowed;
}

.tm-external-link { color: #0CC; }
.tm-external-link:hover { color: #09b6b6; }

.tm-paging-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tm-prev-next-wrapper,
.tm-paging-wrapper {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.tm-copyright { text-align: right; }

/* Single Post page */
hr.tm-hr-primary { border-top: 5px solid #0CC; }

video {
    width: 100%;
    height: auto;
}

.tm-comment {
    display: flex;
    align-items: flex-start;
}

.tm-comment-figure {
    margin-top: 10px;
    margin-right: 30px;
}

.tm-comment-reply { padding-left: 37px; }

.form-control {
    height: 45px;
    border-color: #0CC;
    border-radius: 0;
}

.tm-comment-form { max-width: 360px; }
.tm-category-list { list-style-type: none; }
figure { margin: 0; }
figcaption { line-height: 1.4; }

.tm-post-full { max-width: 600px; }

.tm-post-sidebar {
    max-width: 280px;
    margin-left: auto;
    margin-right: 0;
}

.tm-pt-20 { padding-top: 20px; }
.tm-pt-30 { padding-top: 30px; }
.tm-pt-45 { padding-top: 45px; }
.tm-pt-60 { padding-top: 60px; }
.tm-mb-40 { margin-bottom: 40px; }
.tm-mb-45 { margin-bottom: 45px; }
.tm-mb-55 { margin-bottom: 55px; }
.tm-mb-60 { margin-bottom: 60px; }
.tm-mb-65 { margin-bottom: 65px; }
.tm-mb-75 { margin-bottom: 75px; }
.tm-mb-80 { margin-bottom: 80px; }
.tm-mb-120 { margin-bottom: 120px; }
.tm-mt-40 { margin-top: 40px; }
.tm-mt-100 { margin-top: 100px; }
.tm-mr-20 { margin-right: 20px; }
.tm-color-primary, span.tm-color-primary { color: #099; }
a.tm-color-gray, .tm-color-gray { color: #999; }
a.tm-color-gray:hover { color: #099; }
.tm-bg-gray { background-color: #F3F4F5; }
button:focus { outline: none; }
a:hover { 
    text-decoration: none; 
    color: #048c8c;
}

a:hover figcaption { color: #056767; }
.img-thumbnail { max-width: none; }
.tm-about-pad { padding: 40px 35px; }
.tm-person { max-width: 430px; }
.tm-line-height-short { line-height: 1.8; }

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:477px;
    width:100%;
}

.tm-social-links li { 
    list-style: none; 
    display: inline-block;
}

.tm-social-links li a {
    display: block;
    color: white;
    background-color: #0CC;
    width: 45px;
    height: 45px;    
    margin-right: 15px;    
}

.tm-social-links li a i { transition: all 0.3s ease; }
.tm-social-links li a:hover i.fa-facebook { color: #3b5998; }
.tm-social-links li a:hover i.fa-twitter { color: #00acee; }
.tm-social-links li a:hover i.fa-youtube { color: #c4302b; }
.tm-social-links li a:hover i.fa-instagram { color: #3f729b; }

.tm-contact-right { padding-left: 55px; }
.tm-contact-form { max-width: 488px; }

.tm-contact-form input,
.tm-contact-form textarea {
    max-width: 360px;
}

.tm-contact-form label { font-size: 1.4rem; }
.tm-contact-form .form-group { display: flex; }

@media (max-width: 1540px) {
    .tm-header { width: 250px; }

    .tm-main {
        margin-left: 320px;
        width: calc(100% - 320px);
    }
}

@media (max-width: 1300px) {
    .tm-about-col {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 1288px) {
    .tm-social-link { margin-right: 10px; }
}

@media (max-width: 1199px) {
    .tm-post-sidebar { max-width: 440px; }
    .form-inline .form-control.tm-search-input { width: 420px; }
}

@media (max-width: 1086px) {
    .form-inline .form-control.tm-search-input {
        width: 80%;
        margin-right: 15px;
    }
}

/* Hide sidebar */
@media (max-width: 991px) {
    .tm-header {
        width: 320px;
        left: -320px;        
        transition: all 0.3s ease;
    }

    .tm-header.show { left: 0; }
    .tm-header-wrapper { padding: 15px; }

    .navbar-toggler {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(56, 204, 204, 0.75);
        color: white;
        padding: 10px 15px;
        transition: all 0.3s ease;
        border-radius: 0;
        top: 5px;
    }

    .tm-header.show .navbar-toggler { left: 320px; }

    .tm-main {
        margin-left: 0;
        padding: 50px 40px;
        width: 100%;
    }

    .tm-post-sidebar {
        margin-left: 0;
        margin-right: auto;
    }

    .tm-person-col { width: 50%; }
    .tm-person { flex-direction: row; }

    .tm-contact-left {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .tm-contact-right {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .tm-post-full { max-width: none; }
}

@media (max-width: 767px) {
    .form-inline .form-control.tm-search-input {
        width: 70%;
        max-width: 375px;
        margin-right: 15px;
    }

    .tm-search-form { justify-content: flex-start; }
    .tm-main { padding: 60px 10px; }

    .tm-prev-next-wrapper,
    .tm-paging-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tm-paging-wrapper { 
        margin-top: 50px; 
        justify-content: flex-start;
    }

    .tm-copyright { text-align: left; }
    
    .container-profile-page{
        padding: 2rem 1rem;
    }
    
    .container-profile-page .wrapper-profile-page img{
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .tm-person-col,
    .tm-contact-left,
    .tm-contact-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tm-contact-right { padding-left: 15px; }

    .tm-post-col,
    .tm-aside-col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tm-post-sidebar {
        margin-left: 0;
        margin-right: auto;
    }
}
.tm-main div div a{
    background-color: rgba(56, 204, 204, 0.75);
    color: white;
}


@media (max-width: 709px) {
    .tm-person-col { width: 100%; }
}

@media (max-width: 991px) and (min-width: 826px) {
    .tm-about-col {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .tm-person { flex-direction: row; }
}

@media (max-width: 630px) {
    .tm-contact-left,
    .tm-contact-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tm-contact-right { padding-left: 15px; }
}

@media (max-width: 575px) {
    .tm-contact-form input, 
    .tm-contact-form textarea {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .tm-person-col { width: 100%; }
    .tm-person { flex-direction: row; }
}

@media (max-width: 380px) {
    .tm-person img { max-width: 120px; }
}
.tm-main div div form{
    margin: 0;
    padding: 0;
    text-align: left;
}

.body-homepage{
    overflow-y: scroll;
}
.tm-main div div a:hover{
    text-decoration: none;
}

/* Post Blog */
.body-postblog-page{
    overflow-y: scroll;
}
.body-postblog-page h6{
    color: red;
}
.sort-by-date{
    margin-right: 2rem;
}
.sort-by-vote{
    margin-right: 2rem;
}
.sort-button{
    padding: 0 0.5rem;
    background-color: #0CC;
    border: none;
    color: white;
}
.sort-button:hover{
    background-color: white;
    color: #0CC;
    border: 1px solid #0CC;
}
.form-sort{
    margin: 1rem 0;
}

/* Blog Detail*/
.body-blog-detail{
    overflow-y: scroll;
}
.blog-detail{
    text-align: center;
    border: 1px solid black;
    box-shadow: 0rem 1rem 10rem rgba(0,0,0,0.1);
}
.title-blog-detail h1{
    margin-top: 7rem;
    padding: 0;
}
.blog-detail-image{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.by-blog-detail{
    text-align: right;
    margin-right: 5rem;
    margin-bottom: 2rem;
}
.button-blog-detail button{
    position: absolute;
}
.button-blog-detail button:first-child{
    top: 2rem;
    right: 2rem;
}
.button-blog-detail button:last-child{
    top: 2rem;
    right: 7rem;
}
.comment-blog-detail form{
    text-align: center !important;
}
.comment-blog-detail form input[type=text]{
    margin-bottom: 0.5rem;
}
.comment-blog-detail form input[type=submit]{
    margin-left: 39rem;
    padding: 0 0.5rem;
    background-color: #0CC;
    color: white;
    border: none;
}
.comment-blog-detail form input[type=submit]:hover{
    background-color: white;
    color: #0CC;
    border: 1px solid #0CC;
}
.return-home-page{
    color: black;
    position: absolute;
    top: 2rem;
    left: 2rem  ;
}
.return-home-page:hover{
    color: black;
    text-decoration: none;
}
.number-blog-detail div{
    font-size: 2rem;
}
.number-blog-detail div a:first-child{
    vertical-align: middle;
    background-color: white;
}
.number-blog-detail div a:last-child{
    font-size: 1.1rem;
    vertical-align: middle;
    background-color: white;
}
.number-blog-detail div a:first-child:hover{
    color: #0CC;
    cursor: pointer;
}
.number-blog-detail div a:last-child:hover{
    text-decoration: underline;
    cursor: pointer;
}
.return-home-page i{
    font-size: 2rem;
}
.edit-button a{
    background-color: #007bff ! important;
}
.edit-button:hover a{
    background-color: #0069d9 !important;
}

/* Edit Blog */
.body-edit-blog{
    overflow-y: scroll;
}




/* Activity Page*/
.body-activity-page{
    overflow-y: scroll;
}
.activity-page{
    padding: 2rem;
    height: 100vh;
}
.activity-list{
    background-color: #f5f7fa;
    height: 100%;
}
.activity-list div:first-child{
    margin-bottom: 1rem;
}
.activity-item{
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.1rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(166, 166, 166, 0.25);
    margin-bottom: 1rem;
}
.activity-item-header{
    width: 100%;
    border-bottom: 2px solid #f9fafc;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.activity-item div h6{
    display: inline-block;
}
.activity-item div h5{
    width: 100%;
    padding-left: 2rem;
    margin: 0;
}
.activity-item div:last-child{
    width: 100%;
    align-items: center;
}
.activity-item div:last-child a{
    background-color: red;
    transition: box-shadow .3s;
    border-radius: 0.2rem;
}
.activity-item div:last-child a:hover{
    background-color: rgb(255, 82, 82);
    box-shadow: 0 0 11px rgba(255, 255, 255, 0.2);  
    cursor: pointer;
    color: white;
}
.page-activity-list{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#delete-activity-message-popup{
    text-align: center;
    width: 30rem;
    height: 5rem;
    background: white;
    box-sizing: border-box; /* for inside padding */
    padding: 2rem;

    /* for center */
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(166, 166, 166, 0.25);
    z-index: 1;
}
#delete-activity-message-popup button{
    position: absolute;
    top: 10%;
    right: 0.5rem;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: 1px solid white;
}
#delete-activity-message-popup button:hover{
    background-color: rgb(255, 82, 82);
    box-shadow: 0 0 11px rgba(255, 255, 255, 0.2);
}
#delete-activity-message-popup p{
    font-size: 1.3rem;
}
.delete-activity-message-popup-confirm{
    width: 40rem;
    height: 10rem;
    background: white;
    box-sizing: border-box; /* for inside padding */
    padding: 2rem;

    /* for center */
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(166, 166, 166, 0.25);
    z-index: 1;
    display: none;
}
.delete-activity-message-popup-confirm p{
    color: black;
    font-weight: 700;
    margin-bottom: 3rem;
}
.delete-activity-message-popup-confirm div{
    text-align: right;
}
.delete-activity-message-popup-confirm div a{
    padding: 2rem;
    color: white;
    border-radius: 0.5rem;
}
.delete-activity-message-popup-confirm div a:first-child{
    background-color: red;
}
.delete-activity-message-popup-confirm div a:last-child{
    margin-left: 1rem;
}
.delete-activity-message-popup-confirm div a:hover{
    cursor: pointer;
    box-shadow: 0 0 11px rgba(255, 255, 255, 0.2);
}
.delete-activity-message-popup-confirm div a:first-child:hover{
    background-color: rgb(255, 82, 82);
}
.delete-activity-message-popup-confirm div a:last-child:hover{
    background-color: #09b6b6;
}



/* Approve Blog */
.approve-blog-img{
    background-color: white !important;
}
.approve-blog-img img{
    width: 100%;
    height: 30vh;
    opacity: 0.7;
}
.approve-blog-img:hover img{
    opacity: 1;
}
.approve-blog-content a{
    background-color: white !important;
}
.approve-blog-content-second:hover{
    text-decoration: none;
}

/* Approve Blog Details */
.approve-reject-form{
    padding: 3rem;
}
.approve-reject-form input:first-child{
    background-color: #66DE73;
    color: white;
    border: none;
    padding: 0.5rem;
    margin-right: 5rem;
}
.approve-reject-form input:first-child:hover{
    background-color: green;
}
.approve-reject-form input:last-child{
    background-color: #FF0909;
    color: white;
    border: none;
    padding: 0.5rem 1rem;;
}
.approve-reject-form input:last-child:hover{
    background-color: #cc0033;
}


/* Admin Page */
.admin-page div{
    padding: 3rem;
    border: 4px solid #00cccc;
    border-radius: 5rem;
    margin-bottom: 3rem;
}
.admin-page div a h1{
    text-align: center;
    font-size: 50px;
}



/* Major Page */
.major-item{
    margin-top: 1rem;
}
.major-item div{
    padding-left: 1rem;
}
.major-item div > a:first-child{
    margin-right: 2.5rem;
    text-align: center;
    margin-top: 0.5rem;
    background-color: #2659ff;
}
.major-item div a:first-child:hover{
    background-color: #1a3899;
}
.major-item div a:last-child{
    margin-top: 0.5rem;
    color: white;
}

.major-item div h5 a{
    background-color: white !important;
    color: black !important;
}

@media only screen and (max-width: 900px) {
    #login{
        width: 30%;
        margin: 0;
        margin-right: 2rem;
        margin-top: 2rem;
    }
    #img{
        margin-top: 1rem;
    }
    .header-welcome-page{
        height: 20%;
    }
    @keyframes login {
        0% {margin-right: 0; margin-top: 2rem;}
        100% {margin-right: 2rem; top: 2rem}
    }
    .content-welcome-page {
        width: 80%;
    }
    #popupForm{
        width: 60%;
    }
}

.table tbody tr td a:hover{
    text-decoration: underline;
}

.regis-approve{
    background-color: #00cccc;
    color: white;
    border: 1px solid #00cccc;
    padding: 0.5rem; 
}

.regis-approve:hover{
    text-decoration: none;
    color: white;
    background-color: #009999;
}

.ban-or-unban a{
    padding: 0.5rem;
}

.ban-or-unban a:hover{
    text-decoration: none;
}